In [1]:
import json
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load Yelp reviews data
biz_f = open('data/yelp_academic_dataset_business.json')
biz_df = pd.DataFrame([json.loads(x) for x in biz_f.readlines()])
biz_f.close()
biz_df.head()

,business_id,categories,city,full_address,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type
0,rncjoVoEFUJGCUoC1JgnUA,"[Accountants, Professional Services, Tax Servi...",Peoria,"8466 W Peoria Ave\nSte 6\nPeoria, AZ 85345",33.581867,-112.241596,Peoria Income Tax Service,[],True,3,5.0,AZ,business
1,0FNFSzCFP_rGUoJx8W7tJg,"[Sporting Goods, Bikes, Shopping]",Phoenix,"2149 W Wood Dr\nPhoenix, AZ 85029",33.604054,-112.105933,Bike Doctor,[],True,5,5.0,AZ,business
2,3f_lyB6vFK48ukH6ScvLHg,[],Phoenix,"1134 N Central Ave\nPhoenix, AZ 85004",33.460526,-112.073933,Valley Permaculture Alliance,[],True,4,5.0,AZ,business
3,usAsSV36QmUej8--yvN-dg,"[Food, Grocery]",Phoenix,"845 W Southern Ave\nPhoenix, AZ 85041",33.392210,-112.085377,Food City,[],True,5,3.5,AZ,business
4,PzOqRohWw7F7YEPBz6AubA,"[Food, Bagels, Delis, Restaurants]",Glendale Az,"6520 W Happy Valley Rd\nSte 101\nGlendale Az, ...",33.712797,-112.200264,Hot Bagels & Deli,[],True,14,3.5,AZ,business

In [3]:
# Load Yelp reviews data
review_file = open('yelp_academic_dataset_review.json')
review_df = pd.DataFrame([json.loads(x) for x in review_file.readlines()])
review_file.close()
review_df.head()

,business_id,date,review_id,stars,text,type,user_id,votes
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,"{'funny': 0, 'useful': 5, 'cool': 2}"
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,"{'funny': 0, 'useful': 0, 'cool': 0}"
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,"{'funny': 0, 'useful': 1, 'cool': 0}"
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,"{'funny': 0, 'useful': 2, 'cool': 1}"
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,"{'funny': 0, 'useful': 0, 'cool': 0}"

In [4]:
biz_df.columns, review_df.columns

(Index(['business_id', 'categories', 'city', 'full_address', 'latitude',
        'longitude', 'name', 'neighborhoods', 'open', 'review_count', 'stars',
        'state', 'type'],
       dtype='object'),
 Index(['business_id', 'date', 'review_id', 'stars', 'text', 'type', 'user_id',
        'votes'],
       dtype='object'))

In [5]:
biz_df['categories']

0        [Accountants, Professional Services, Tax Servi...
1                        [Sporting Goods, Bikes, Shopping]
2                                                       []
3                                          [Food, Grocery]
4                       [Food, Bagels, Delis, Restaurants]
5                    [Women's Clothing, Fashion, Shopping]
6        [Music & DVDs, Books, Mags, Music & Video, Vin...
7        [Event Planning & Services, Venues & Event Spa...
8        [Art Schools, Specialty Schools, Shopping, Jew...
9                                [Sandwiches, Restaurants]
10       [Music & DVDs, Books, Mags, Music & Video, Mus...
11                                  [Mexican, Restaurants]
12                                         [Food, Grocery]
13                                    [Pizza, Restaurants]
14       [Hotels & Travel, Event Planning & Services, H...
15                  [Department Stores, Fashion, Shopping]
16                         [Window Washing, Home Services]
17                                  [Burgers, Restaurants]
18               [Kitchen & Bath, Shopping, Home & Garden]
19                            [Food, Beer, Wine & Spirits]
20                               [Plumbing, Home Services]
21                              [Bars, Nightlife, Lounges]
22                [Buffets, Dim Sum, Chinese, Restaurants]
23                       [Burgers, Fast Food, Restaurants]
24       [Department Stores, Fashion, Shopping, Drugsto...
25                            [Shopping Centers, Shopping]
26          [Food, Breweries, American (New), Restaurants]
27       [Active Life, Dog Parks, Amateur Sports Teams,...
28        [Pediatric Dentists, Health & Medical, Dentists]
29                                    [Pizza, Restaurants]
                               ...
11507                      [Financial Services, Insurance]
11508                               [Mexican, Restaurants]
11509                                 [Pizza, Restaurants]
11510                               [Car Wash, Automotive]
11511                         [Landscaping, Home Services]
11512                        [American (New), Restaurants]
11513                               [Car Wash, Automotive]
11514                                  [Thai, Restaurants]
11515     [Used, Vintage & Consignment, Fashion, Shopping]
11516                                 [Pizza, Restaurants]
11517       [Pet Services, Pet Boarding/Pet Sitting, Pets]
11518                                 [Cafes, Restaurants]
11519    [Hotels & Travel, Event Planning & Services, H...
11520                         [Hair Salons, Beauty & Spas]
11521                          [Asian Fusion, Restaurants]
11522                         [Shopping, Office Equipment]
11523                                                   []
11524                             [Barbers, Beauty & Spas]
11525                [Shopping, Home & Garden, Appliances]
11526    [Day Spas, Hotels & Travel, Beauty & Spas, Eve...
11527         [Post Offices, Public Services & Government]
11528                            [Sandwiches, Restaurants]
11529    [Active Life, Amusement Parks, Nightlife, Bowl...
11530                  [Automotive, Auto Parts & Supplies]
11531    [Cosmetology Schools, Specialty Schools, Educa...
11532                               [Mexican, Restaurants]
11533                               [Mexican, Restaurants]
11534                                      [Food, Grocery]
11535                  [Greek, Mediterranean, Restaurants]
11536                            [Print Media, Mass Media]
Name: categories, Length: 11537, dtype: object

In [6]:
####   Numeric representation of categories

#four_biz_reviews['target'] = '0'
# for x in range(0,len(four_biz_reviews)):
#         if "Nightlife" in four_biz_reviews.loc[x]['categories']:
#             four_biz_reviews.loc[x]['target'] =  '1'
#         elif "Restaurants" in four_biz_reviews.loc[x]['categories']:
#             four_biz_reviews.loc[x]['target'] =  '2'
#         elif "Food" in four_biz_reviews.loc[x]['categories']:
#             four_biz_reviews.loc[x]['target'] =  '3'
#         elif "Mexican" in four_biz_reviews.loc[x]['categories']:
#             four_biz_reviews.loc[x]['target'] =  '4'
# 2    135902
# 1     30136
# 3     19827
# Name: target, dtype: int64

In [7]:
# Pull out only Nightlife, Restaurants, Food & Mexican businesses
four_biz = biz_df[biz_df.apply(lambda x: 'Nightlife' in x['categories'] or
'Restaurants' in x['categories'] or 'Food' in x['categories'] or 'Shopping' in x['categories'], axis=1)]

# Join with the reviews to get all reviews on the four types of business
four_biz_reviews = four_biz.merge(review_df, on='business_id', how='inner')

# Trim away the features we won't use
four_biz_reviews = four_biz_reviews[['business_id',
                                    'text',
                                    'categories']]

In [8]:
####    Function for numeric representation of caegories
def num_representation(categories):
    if "Nightlife" in categories:
        return '1'
    elif "Restaurants" in categories:
        return '2'
    elif "Food" in categories:
        return '3'
    elif "Shopping" in categories:
        return '4'
four_biz_reviews['target'] = four_biz_reviews.apply(lambda x: num_representation(x['categories']), axis=1)

In [9]:
print(four_biz_reviews.target.value_counts())

2    135902
1     30136
3     19827
4     12360
Name: target, dtype: int64

In [10]:
four_biz_reviews[four_biz_reviews['target'] == '1']

,business_id,text,categories,target
196,QL3vFMAsEHqfi1KGH-4igg,The place was pretty empty - even for an off n...,"[Bars, Nightlife, Lounges]",1
197,QL3vFMAsEHqfi1KGH-4igg,"Ugh, this place was so cheesy. It's like they ...","[Bars, Nightlife, Lounges]",1
198,QL3vFMAsEHqfi1KGH-4igg,Red Bar was perfect for a pre-dinner and post-...,"[Bars, Nightlife, Lounges]",1
199,QL3vFMAsEHqfi1KGH-4igg,I went here for a birthday party on Saturday a...,"[Bars, Nightlife, Lounges]",1
200,QL3vFMAsEHqfi1KGH-4igg,I've only been living in the Phoenix area for ...,"[Bars, Nightlife, Lounges]",1
201,QL3vFMAsEHqfi1KGH-4igg,Wasn't that impressed honestly...\n\nI showed ...,"[Bars, Nightlife, Lounges]",1
202,QL3vFMAsEHqfi1KGH-4igg,"""Six Schlitzes please"".\nFunny looks all aroun...","[Bars, Nightlife, Lounges]",1
203,QL3vFMAsEHqfi1KGH-4igg,I've been to Red Bar a few times now and reall...,"[Bars, Nightlife, Lounges]",1
204,QL3vFMAsEHqfi1KGH-4igg,Ten o'clock on a Friday night and there were o...,"[Bars, Nightlife, Lounges]",1
205,QL3vFMAsEHqfi1KGH-4igg,**2.5 Stars**\n\nI really can't give this just...,"[Bars, Nightlife, Lounges]",1
206,QL3vFMAsEHqfi1KGH-4igg,Great place to have a cocktail after a dinner ...,"[Bars, Nightlife, Lounges]",1
731,WNy1uzcmm_UHmTyR--o5IA,I went here for lunch a couple of weeks ago wi...,"[Pubs, Bars, Nightlife, British, Restaurants]",1
732,WNy1uzcmm_UHmTyR--o5IA,Oh god. It's like GOD'S VERY OWN HOT POCKET. F...,"[Pubs, Bars, Nightlife, British, Restaurants]",1
733,WNy1uzcmm_UHmTyR--o5IA,Went in after a day of shopping with my mother...,"[Pubs, Bars, Nightlife, British, Restaurants]",1
734,WNy1uzcmm_UHmTyR--o5IA,I like this place because of how original it i...,"[Pubs, Bars, Nightlife, British, Restaurants]",1
735,WNy1uzcmm_UHmTyR--o5IA,Went Saturday and got there just after opened ...,"[Pubs, Bars, Nightlife, British, Restaurants]",1
736,WNy1uzcmm_UHmTyR--o5IA,Ok so there are plenty of great reviews of thi...,"[Pubs, Bars, Nightlife, British, Restaurants]",1
737,WNy1uzcmm_UHmTyR--o5IA,"I ain't from around here. Where I come from, ...","[Pubs, Bars, Nightlife, British, Restaurants]",1
738,WNy1uzcmm_UHmTyR--o5IA,"They don't serve food, they serve sex on a pla...","[Pubs, Bars, Nightlife, British, Restaurants]",1
739,WNy1uzcmm_UHmTyR--o5IA,Wow... i don't think I've ever been in a more ...,"[Pubs, Bars, Nightlife, British, Restaurants]",1
740,WNy1uzcmm_UHmTyR--o5IA,"I've eaten here twice, and both times enjoyed ...","[Pubs, Bars, Nightlife, British, Restaurants]",1
741,WNy1uzcmm_UHmTyR--o5IA,I want to give the Cornish Pasty Company anoth...,"[Pubs, Bars, Nightlife, British, Restaurants]",1
742,WNy1uzcmm_UHmTyR--o5IA,Really? Because it doesn't get any better tha...,"[Pubs, Bars, Nightlife, British, Restaurants]",1
743,WNy1uzcmm_UHmTyR--o5IA,"If I were ever to be executed, I'd want a Meat...","[Pubs, Bars, Nightlife, British, Restaurants]",1
744,WNy1uzcmm_UHmTyR--o5IA,I love both locations. It is a rare menu that ...,"[Pubs, Bars, Nightlife, British, Restaurants]",1
745,WNy1uzcmm_UHmTyR--o5IA,My gf and I just tried the Oggie bc we werent ...,"[Pubs, Bars, Nightlife, British, Restaurants]",1
746,WNy1uzcmm_UHmTyR--o5IA,"Couple things. First, I am reviewing a Delive...","[Pubs, Bars, Nightlife, British, Restaurants]",1
747,WNy1uzcmm_UHmTyR--o5IA,Excuse me. How in the world have I lived walki...,"[Pubs, Bars, Nightlife, British, Restaurants]",1
748,WNy1uzcmm_UHmTyR--o5IA,This place is awesome. \n\nA cornish pasty is ...,"[Pubs, Bars, Nightlife, British, Restaurants]",1
749,WNy1uzcmm_UHmTyR--o5IA,We came here for lunch and were a little leery...,"[Pubs, Bars, Nightlife, British, Restaurants]",1
...,...,...,...,...
197961,-gefwOTDqW9HWGDvWBPSMQ,I get to come here often because it's my husba...,"[Nightlife, Irish, Arts & Entertainment, Music...",1
197962,-gefwOTDqW9HWGDvWBPSMQ,"Great location, good beer and liquor selection...","[Nightlife, Irish, Arts & Entertainment, Music...",1
197963,-gefwOTDqW9HWGDvWBPSMQ,Not bad at all. I come here about 3-4 times a...,"[Nightlife, Irish, Arts & Entertainment, Music...",1
197964,-gefwOTDqW9HWGDvWBPSMQ,I don't drink... but Seamus' is an alright pla...,"[Nightlife, Irish, Arts & Entertainment, Music...",1
197965,-gefwOTDqW9HWGDvWBPSMQ,"This is my go-to ""no thought/effort required"" ...","[Nightlife, Irish, Arts & Entertainment, Music...",1
197966,-gefwOTDqW9HWGDvWBPSMQ,The atmosphere is faux irish pub. The beers ar...,"[Nightlife, Irish, Arts & Entertainment, Music...",1
197967,-gefwOTDqW9HWGDvWBPSMQ,# of males with asscrack visibly showing: 4+\n...,"[Nightlife, Irish, Arts & Entertainment, Music...",1
197968,-gefwOTDqW9HWGDvWBPSMQ,I was craving an Irish Car-bomb on my birthday...,"[Nightlife, Irish, Arts & Entertainment, Music...",1
197969,-gefwOTDqW9HWGDvWBPSMQ,"While rockin' the 2011 Comicon experience, you...","[Nightlife, Irish, Arts & Entertainment, Music...",1
197970,-gefwOTDqW9HWGDvWBPSMQ,Shepherd's pie washed down with an icy pint of...,"[Nightlife, Irish, Arts & Entertainment, Music...",1
197971,-gefwOTDqW9HWGDvWBPSMQ,With the two restaurants closest to the Dodge ...,"[Nightlife, Irish, Arts & Entertainment, Music...",1
197972,-gefwOTDqW9HWGDvWBPSMQ,"this is a decent bar in downtown phoenix, but ...","[Nightlife, Irish, Arts & Entertainment, Music...",1
197973,-gefwOTDqW9HWGDvWBPSMQ,Probably my favorite Irish pub in AZ for Sunda...,"[Nightlife, Irish, Arts & Entertainment, Music...",1
197974,-gefwOTDqW9HWGDvWBPSMQ,Great bar with awesome music and food. Service...,"[Nightlife, Irish, Arts & Entertainment, Music...",1
197975,-gefwOTDqW9HWGDvWBPSMQ,I came here with a coworker while in town on b...,"[Nightlife, Irish, Arts & Entertainment, Music...",1
197976,-gefwOTDqW9HWGDvWBPSMQ,I like this place. \n\nI came here for a few d...,"[Nightlife, Irish, Arts & Entertainment, Music...",1
198142,GZ8KctCJxGzYZ7aAdapprg,"Not recommended if you're not white. For me, i...","[Active Life, Amusement Parks, Nightlife, Bowl...",1
198143,GZ8KctCJxGzYZ7aAdapprg,"This is a bowling alley, I don't frequent bowl...","[Active Life, Amusement Parks, Nightlife, Bowl...",1
198144,GZ8KctCJxGzYZ7aAdapprg,Just finished a Wednesday night league and eve...,"[Active Life, Amusement Parks, Nightlife, Bowl...",1
198145,GZ8KctCJxGzYZ7aAdapprg,It's been a sad experience ...really!\nWent th...,"[Active Life, Amusement Parks, Nightlife, Bowl...",1
198146,GZ8KctCJxGzYZ7aAdapprg,"1st off, the phone # listed is incorrect. Afte...","[Active Life, Amusement Parks, Nightlife, Bowl...",1
198147,GZ8KctCJxGzYZ7aAdapprg,"It's ok, pretty typical local bowling alley. \...","[Active Life, Amusement Parks, Nightlife, Bowl...",1
198148,GZ8KctCJxGzYZ7aAdapprg,"I went here on a Friday night, and like everyo...","[Active Life, Amusement Parks, Nightlife, Bowl...",1
198149,GZ8KctCJxGzYZ7aAdapprg,Bowling alley's make me so happy. I love the s...,"[Active Life, Amusement Parks, Nightlife, Bowl...",1
198150,GZ8KctCJxGzYZ7aAdapprg,"Blah, Unless you are bowling during league pla...","[Active Life, Amusement Parks, Nightlife, Bowl...",1
198151,GZ8KctCJxGzYZ7aAdapprg,AMF BOWLING at Desert Hills Lanes: Customer\n ...,"[Active Life, Amusement Parks, Nightlife, Bowl...",1
198152,GZ8KctCJxGzYZ7aAdapprg,We had a blast at AMF Desert Hills a few weeks...,"[Active Life, Amusement Parks, Nightlife, Bowl...",1
198153,GZ8KctCJxGzYZ7aAdapprg,Let me preface this review by saying that I su...,"[Active Life, Amusement Parks, Nightlife, Bowl...",1
198154,GZ8KctCJxGzYZ7aAdapprg,Went for extreme bowling on a Saturday!\n\n1. ...,"[Active Life, Amusement Parks, Nightlife, Bowl...",1
198155,GZ8KctCJxGzYZ7aAdapprg,Went there on a Saturday evening during date. ...,"[Active Life, Amusement Parks, Nightlife, Bowl...",1

In [11]:
four_biz_reviews.shape

(198225, 4)

In [12]:
nightlife = four_biz_reviews[four_biz_reviews.apply(lambda x: 'Nightlife' in x['categories'], axis=1)]
restaurants = four_biz_reviews[four_biz_reviews.apply(lambda x: 'Restaurants' in x['categories'], axis=1)]
food = four_biz_reviews[four_biz_reviews.apply(lambda x: 'Food' in x['categories'], axis=1)]
shopping = four_biz_reviews[four_biz_reviews.apply(lambda x: 'Shopping' in x['categories'], axis=1)]
print(f'nightlife : {nightlife.shape} \nrestaurants : {restaurants.shape} \nfood : {food.shape} \nshopping : {shopping.shape}')

nightlife : (30136, 4)
restaurants : (158430, 4)
food : (33217, 4)
shopping : (14335, 4)

In [13]:
(14335*.85)/33217

0.3668227112623054

In [14]:
(14335*.85)/158430

0.0769093606008963

In [15]:
(14335*.85)/30136

0.4043253915582692

In [16]:
shopping_subset = shopping.sample(frac=.85, random_state=123)
food_subset = food.sample(frac=.366, random_state=123)
nightlife_subset = nightlife.sample(frac=.404, random_state=123)
restaurant_subset = restaurants.sample(frac=0.076, random_state=123)

print(shopping_subset.shape, food_subset.shape, nightlife_subset.shape, restaurant_subset.shape)
combined = pd.concat([shopping_subset, food_subset, nightlife_subset, restaurant_subset])
combined.shape

(12185, 4) (12157, 4) (12175, 4) (12041, 4)

(48558, 4)

# Data Split

In [17]:
from sklearn.model_selection import train_test_split

# Split into training and test datasets
training_data, test_data = train_test_split(combined, train_size=0.7, random_state=123)
training_data.shape, test_data.shape

((33990, 4), (14568, 4))

# Data Representation

In [18]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer, TfidfTransformer
# Represent the review text as a bag-of-words
bow_transform = CountVectorizer()
X_tr_bow = bow_transform.fit_transform(training_data['text'])
X_te_bow = bow_transform.transform(test_data['text'])

print(len(bow_transform.vocabulary_))

# target data
y_tr = training_data['target']
y_te = test_data['target']


# Create the tf-idf representation using the bag-of-words matrix
tfidf_trfm = TfidfTransformer(norm=None)
X_tr_tfidf = tfidf_trfm.fit_transform(X_tr_bow)
X_te_tfidf = tfidf_trfm.transform(X_te_bow)

48841

In [19]:
import sklearn.metrics as sm
from sklearn.neighbors import KNeighborsClassifier

In [30]:
error = []

for i in range(1, 40):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_tr_bow, y_tr)
    pred_i = knn.predict(X_te_bow)
    error.append(np.mean(pred_i != y_te))

import pylab as pl
import matplotlib.pyplot as plt
%matplotlib inline

plt.figure(figsize=(12, 6))
plt.plot(range(1, 40), error, color='black', linestyle='dashed', marker='o',
         markerfacecolor='grey', markersize=10)
plt.title('Error Rate K Value')
plt.xlabel('K Value')
plt.ylabel('Mean Error')

In [23]:
classifier = KNeighborsClassifier(n_neighbors=38)
classifier.fit(X_tr_bow, y_tr)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=38, p=2,
           weights='uniform')

In [24]:
y_bow_pred = classifier.predict(X_te_bow)

In [25]:

from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_te, y_bow_pred))
print(classification_report(y_te, y_bow_pred))

[[2472 1879   65   80]
 [1454 2803  108   74]
 [ 735 1118  447  259]
 [ 848  968  299  959]]
              precision    recall  f1-score   support

           1       0.45      0.55      0.49      4496
           2       0.41      0.63      0.50      4439
           3       0.49      0.17      0.26      2559
           4       0.70      0.31      0.43      3074

   micro avg       0.46      0.46      0.46     14568
   macro avg       0.51      0.42      0.42     14568
weighted avg       0.50      0.46      0.44     14568

# TFIDF

In [29]:
error_tfidf = []


for i in range(1, 40):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_tr_tfidf, y_tr)
    pred_i = knn.predict(X_te_tfidf)
    error_tfidf.append(np.mean(pred_i != y_te))

plt.figure(figsize=(12, 6))
plt.plot(range(1, 40), error_tfidf, color='black', linestyle='dashed', marker='o',
         markerfacecolor='grey', markersize=10)
plt.title('Error Rate K Value')
plt.xlabel('K Value')
plt.ylabel('Mean Error')

In [26]:
classifier = KNeighborsClassifier(n_neighbors=38)
classifier.fit(X_tr_tfidf, y_tr)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=38, p=2,
           weights='uniform')

In [27]:
y_tfidf_pred = classifier.predict(X_te_tfidf)

In [28]:
print(confusion_matrix(y_te, y_tfidf_pred))
print(classification_report(y_te, y_tfidf_pred))

[[2362 2093   33    8]
 [ 962 3331  137    9]
 [ 390 1190  850  129]
 [ 462 1448  222  942]]
              precision    recall  f1-score   support

           1       0.57      0.53      0.54      4496
           2       0.41      0.75      0.53      4439
           3       0.68      0.33      0.45      2559
           4       0.87      0.31      0.45      3074

   micro avg       0.51      0.51      0.51     14568
   macro avg       0.63      0.48      0.49     14568
weighted avg       0.60      0.51      0.50     14568

In [25]:

from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_te, y_bow_pred))
print(classification_report(y_te, y_bow_pred))

[[2472 1879   65   80]
 [1454 2803  108   74]
 [ 735 1118  447  259]
 [ 848  968  299  959]]
              precision    recall  f1-score   support

           1       0.45      0.55      0.49      4496
           2       0.41      0.63      0.50      4439
           3       0.49      0.17      0.26      2559
           4       0.70      0.31      0.43      3074

   micro avg       0.46      0.46      0.46     14568
   macro avg       0.51      0.42      0.42     14568
weighted avg       0.50      0.46      0.44     14568